#!/bin/bash

#:: user input
bc_pattern=NNNNNNCCCCCC

#:: static - bin - conda
conda=~/miniconda/bin/conda
activate=~/miniconda/bin/activate
deactivate=~/miniconda/bin/deactivate

#:: static - whitelist
whitelist_out=whitelist.1.txt
whitelist_raw=whitelist.2.raw
#:: static - extract
R1_fixedfastq=R1.fixed.fastq.gz
R2_fixedfastq=R2.fixed.fastq.gz
#:: static - rna star
bam_star=star.bam  # unimplemented
#:: static - featurecounts
bam_featurecounts=star_featcount.bam
#:: static - samtools sort index
bam_samtool_sortindex=star_featcount_sortindex.bam
#:: static - counts
counts_matrix=count_matrix.tsv
#:: static 


#:: tool - config - rna star
star_index=hg38_noalt_junc85_99.dir
star_threads=7
#:: tool - config - featureCounts
geneset=geneset.gtf
fc_threads=4
